@{
    ViewData["Css"] = "~/css/signin.css";
}

<button type="button" class="btn-google">
    <img src="/images/Icons/google-icon.svg" alt="Google icon." />
    <span class="text-google">Log In with Google</span>
</button>