@{
    ViewData["Css"] = "~/css/admin.css";
}

<div class="content">
    @await Html.PartialAsync("Partials/_MembersCard")
    @await Html.PartialAsync("Partials/_MembersCard")
    @await Html.PartialAsync("Partials/_MembersCard")
    @await Html.PartialAsync("Partials/_MembersCard")
    @await Html.PartialAsync("Partials/_MembersCard")
    @await Html.PartialAsync("Partials/_MembersCard")
</div>