@model TeamMembersViewModel

@{
    ViewData["Css"] = "~/css/admin.css";
    ViewData["Css2"] = "~/css/projectForms.css";
}

<partial name="Sections/_AddMemberSection", model="@Model.CreateMemberFormModel" />

<div class="top">
    <h2>Team Members</h2>
    <button type="button" data-modal="true" data-target="#addMemberModal" class="btn">
        <i class="fa-solid fa-plus"></i>
        <span>Add Member</span>
    </button>
</div>

<div class="content">

    @foreach (UserModel member in Model.Users)
    {        
        @await Html.PartialAsync("Partials/_MembersCard", Model.User)
    }

</div>