.content {
    flex-grow: 1;
    height: calc(100svh - 160px);
    display: flex;
    gap: 2rem;
    padding: 2rem 4rem;
    flex-wrap: wrap;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.card {
    width: 300px;
    height: 460px;
    background-color: var(--surface);
    border-radius: var(--border-radius);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 8px 10px var(--shadow);
    position: relative;
}

.member-info {
    height: 100%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.options
{
    width: 40px;
    aspect-ratio: 1;
    padding: .4rem;
    border-radius: .7rem;
    place-self: flex-end;
}

.profile {
    width: 150px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 40px;
}

.role {
    font-size: .8rem;
    width: auto;
    padding: .7rem 1.5rem;
    background-color: var(--grey-200);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
}

.email, .phone {
    font-size: 1rem;
}

.message {
    width: 100%;
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    padding-block: .7rem;
    color: var(--heading);
    background-color: var(--grey-100);
    border-radius: var(--border-radius);
    margin-top: 1rem;
    text-align: center;
}

