.content {
    flex-grow: 1;
    height: calc(100svh - 160px);
    display: flex;
    gap: 1.5rem;
    padding: 2rem 0;
    flex-wrap: wrap;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.title-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.project-head {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7rem;
}

.customer {
    color: var(--color-list-menu);
}

.options {
    width: 26px;
    aspect-ratio: 1;
    place-self: flex-start;
}


.card {
    width: 350px;
    height: 276px;
    background-color: var(--surface);
    border-radius: var(--border-radius);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .7rem;
    box-shadow: 0 8px 7px var(--grey-400);
}

.description {
    width: 100%;
    height: 100%;
    color: var(--color-content);
}

.extras {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status {
    padding: .5rem .7rem;
    color: var(--color-heading);
    background-color: var(--grey-200);
    border-radius: .6rem;
}

.profile-group {
    display: flex;
    justify-content: center;
    align-content: center;
}

.profile-img {
    width: 30px;
    aspect-ratio: 1;
    margin-left: .4rem;
}
