.filter-bar {
    display: grid;
    grid-template-columns: repeat(3, auto) 1fr;
    justify-content: center;
    align-items: center;
    gap: .7rem;
}

.alternative {
    color: var(--body-light);
    font-weight: var(--font-bold);
}

.active {
    color: var(--accent);
}

hr {
    border: 1px solid var(--border-200);
}

.content {
    flex-grow: 1;
    height: calc(100svh - 160px);
    display: flex;
    gap: 1.5rem;
    padding: 2rem 0;
    flex-wrap: wrap;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.title-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.project-head {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .9rem;
}

.project-image {
    width: 56px;
    aspect-ratio: 1;
    border-radius: 7px;
}

.customer {
    color: var(--color-list-menu);
}

.options {
    width: 30px;
    aspect-ratio: 1;
    padding: .1rem;
    border-radius: .5rem;
}

.stroke {
    width: 100%;
    border: 1px solid var(--grey-200);
}

.dropdown-container {
    align-self: flex-start;
}

.card {
    width: 350px;
    height: 276px;
    background-color: var(--surface);
    border-radius: var(--border-radius);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .9rem;
    box-shadow: 0 8px 7px var(--grey-400);
}

.description {
    width: 100%;
    height: 100%;
    color: var(--color-content);
}

.extras {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status {
    padding: .5rem .7rem;
    color: var(--color-heading);
    background-color: var(--grey-200);
    border-radius: .6rem;
}

.profile-group {
    display: flex;
    justify-content: center;
    align-content: center;
}

.profile-img {
    width: 22px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-right: .4rem;
    
}
