.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0000004a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-container {
    width: 550px;
    height: auto;
    max-height: 90svh;
    padding: 2rem;
    padding-right: 1.5rem;
    background-color: var(--surface);
    border-radius: 1rem;
    box-shadow: 0 5px 15px var(--body-light);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exit {
    width: 25px;
    aspect-ratio: 1;
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
    border-radius: .3rem;
}
    .exit:hover {
        background-color: var(--grey-200);
    }

    .btn-submit {
        width: 100%;
    }

/* ERRORS */
.field-validation-error {
    color: var(--red);
    font-size: .8rem;
}

.input-validation-error {
    border: 2px solid var(--red-opacity);
}


/* FORM base */
.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
    .label {
        padding-left: .5rem;
        font-size: 1rem;
        font-weight: 600;
    }

    .input {
        width: 100%;
        padding: .7rem;
        border: 2px solid var(--grey-200);
        border-radius: .7rem;
        font-size: .8rem;
    }

    .input:focus {
        outline: 1px solid var(--border-200);
        background-color: var(--grey-100);
    }

    .text-area {
        height: 200px;
        font-family: inherit;
    }


/* REGULAR form-group*/
.form-inputs-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    column-gap: .7rem;
    row-gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}

    .input-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .label {
        font-size: 1rem;
        font-weight: 600;
    }

    .input {
        width: 100%;
        padding: .7rem;
        border: 2px solid var(--grey-200);
        border-radius: .7rem;
        margin-top: .2rem;
    }   


/* IMAGE PREVIEW */
.image-preview-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

    .border-circle {
        width: 150px;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px dashed var(--grey-300);
        border-radius: 50%;
    }

    .camera {
        width: 40px;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--grey-500);
        border: none;
        border-radius: 50%;
        color: var(--border-300);
        cursor: pointer;

    }

    .image-preview {
        display: none;
        width: 150px;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 50%;
    }

    .image-input {
        display: none;
    }

/* STANDARD form-group */
.form-group {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: .7rem;
}

/* CHECKBOX form-group */
.form-group-check {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

    .checkbox-group {
        display: flex;
        gap: 1rem;
        justify-content: flex-start;
        align-items: center;
    }

    .form-group-remember {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }


.budget {
    width: 100%;
    padding: .7rem;
    background-color: transparent;
    background-image: url("/images/Icons/Dollar.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 2.5rem;
}