.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0000004a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-container {
    width: 550px;
    height: auto;
    max-height: 90svh;
    padding: 2rem;
    padding-right: 1.5rem;
    background-color: var(--surface);
    border-radius: 1rem;
    box-shadow: 0 5px 15px var(--body-light);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exit {
    width: 25px;
    aspect-ratio: 1;
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
    border-radius: .3rem;
}
    .exit:hover {
        background-color: var(--grey-200);
    }


/* ERRORS */
.field-validation-error {
    color: var(--red);
    font-size: .8rem;
}

.input-validation-error {
    border: 2px solid var(--red-opacity);
}


/* FORM base */
.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

    .picture {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block: 1rem;
    }

    .image {
        width: 150px;
        aspect-ratio: 1;
    }

    .label {
        padding-left: .5rem;
        font-size: 1rem;
        font-weight: 600;
    }

    .label-start {
        grid-column: 1;
        grid-row: 1;
    }

    .label-end {
        grid-column: 2;
        grid-row: 1;
    }

    .input {
        width: 100%;
        padding: .7rem;
        border: 2px solid var(--grey-200);
        border-radius: .7rem;
        font-size: .8rem;
    }

    .input:focus {
        outline: 1px solid var(--border-200);
        background-color: var(--grey-100);
    }

    .text-area {
        height: 200px;
        font-family: inherit;
    }



/* IMAGE PREVIEW */
.image-preview-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

    .border-circle {
        width: 150px;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px dashed var(--grey-300);
        border-radius: 50%;
    }

    .camera {
        width: 40px;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--grey-500);
        border: none;
        border-radius: 50%;
        color: var(--border-300);
    }

    .image-preview {
        display: none;
        width: 150px;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 50%;
    }



/* DATE start/end */
.form-date-group {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: .7rem;
}

    .start-date {
        grid-column: 1;
        grid-row: 2;
    }

    .end-date {
        grid-column: 2;
        grid-row: 2;
    }

    .budget {
        width: 100%;
        padding: .7rem;
        background-color: transparent;
        background-image: url("/images/Icons/Dollar.svg");
        background-repeat: no-repeat;
        background-position: 10px center;
        padding-left: 2.5rem;
        margin-bottom: 2rem;
    }


/* REGULAR form-group*/
.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    column-gap: .7rem;
    row-gap: 1.7rem;
    justify-content: center;
    align-items: flex-start;
}

    .input-container {
        width: 100%;
    }

    .label {
        font-size: 1rem;
        font-weight: 600;
    }

    .input {
        width: 100%;
        padding: .7rem;
        border: 2px solid var(--grey-200);
        border-radius: .7rem;
        margin-top: .5rem;
    }   


/* DOUBLE form-group*/
.form-group-double {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: start;
    align-items: center;
    column-gap: .7rem;
}

    .first-label {
        grid-column: 1;
        grid-row: 1;
    }

    .last-label {
        grid-column: 2;
        grid-row: 1;
    }

    .first-input {
        grid-column: 1;
        grid-row: 2;
    }

    .last-input {
        grid-column: 2;
        grid-row: 2;
    }

    .postal-code {
        grid-column: 1;
        grid-row: 2;
    }

    .city {
        grid-column: 2;
        grid-row: 2;
    }

    .postal-span {
        grid-column: 1;
        grid-row: 3;
    }

    .city-span {
        grid-column: 2;
        grid-row: 3;
    }


/* BIRTH form-group*/
.form-group-birth {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    column-gap: .7rem;
}

    .birth-label {
        grid-column: 1;
        grid-row: 1;
    }

    .day {
        grid-column: 1;
        grid-row: 2;
    }

    .month {
        grid-column: 2;
        grid-row: 2;
    }

    .year {
        grid-column: 3;
        grid-row: 2;
    }

    .birth-span {
        grid-column: 1 / -1;
        grid-row: 3;
    }


