@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.container {
    width: 600px;
    height: auto;
    max-height: 90svh;
    padding-inline: 5rem;
    padding-bottom: 2rem;
    background-color: var(--surface);
    border-radius: 1rem;
    box-shadow: 0 8px 8px var(--grey-400);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

p {
    color: var(--body-dark);
    font-weight: var(--font-medium);
}

.btn {
    width: 100%;
    margin-top: .7rem;
    margin-bottom: 1.7rem;
}

.title {
    margin-top: 6rem;
}

.title-create {
    margin-top: 5rem;
}

.btn-google {
    width: 100%;
    background-color: var(--grey-100);
    padding: .8rem 1rem;
    margin-bottom: .7rem;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: var(--font-semibold);
    font-family: var(--font-main);
    border: 0;
    border-radius: .7rem;
    cursor: pointer;
    transition: background-color .25s ease-in-out;
}

    .btn-google:hover {
        background-color: var(--accent-opacity);
        color: var(--color-heading);
    }

    .text-google {
        color: var(--heading);
    }

.alternative {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: center;
    align-items: center;
    gap: .7rem;
}

    .line {
        width: 100%;
        height: 1px;
        border: 1px solid var(--grey-200);
    }

    .or {
        color: var(--color-list-menu);
        font-size: 12px;
        font-weight: var(--font-regular);
    }



.form-group-check {
    width: 100%;
    display: grid;
    margin-block: 1rem;
    grid-template-columns: auto 1fr auto;
    justify-content: center;
    align-items: center;
    column-gap: .7rem;
    row-gap: .3rem;
}
    .form-group-check p {
        font-weight: var(--font-regular);
    }

    label[for="TermsAndConditions"] {
        display: none;
    }

    .form-group-check label {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
    }

    .form-group-check input {
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;
    }

    .checkmark {
        width: 1.2rem;
        height: 1.2rem;
        padding: .1rem;
        place-items: center;
        border-radius: .3rem;
        border: 2px solid var(--grey-300);
        background-color: transparent;
        display: inline-block;
        position: relative;
        transition: all .2s ease-in-out;
    }

    .checkmark:hover {
        background-color: var(--grey-400);
    }

    input:checked + .checkmark {
        background-color: var(--accent);
        border: 2px solid var(--accent);
    }

    input:checked + .checkmark:hover {
        background-color: var(--accent-dark);
        border: 2px solid var(--accent-dark);
    }

    .checkmark::after {
        content: "";
        position: absolute;
        display: none;
        left: 5px;
        top: 1px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }

    input:checked + .checkmark::after {
        display: block;
    }

.forgot, .sign-up {
    font-family: var(--font-main);
    color: var(--accent);
    font-weight: var(--font-medium);
    transition: all .2s ease-in-out;
}

    .forgot:hover, .sign-up:hover {
        text-decoration: underline;
        color: var(--accent-dark);
    }

.group-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-size: 1rem;
}



