@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-wrapper: #b0b2b7;
    /* --heading: #1A1926; */
    --font-main: "nunito", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-logo: "Comfortaa", "nunito", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --color-heading: #1A1926;
    --color-content: #28263B;
    --color-list-menu: #637085;
    --color-primary-btn: #FFFFFF;
    --color-message-btn: #F5F7FA;

    --body-light: #637085;
    --body-dark: #28263B;

    --grey-100: #F5F7FA;
    --grey-200: #F0F1F5;
    --grey-300: #E8EAED;
    --grey-400: #E3E5E8;

    --border-100: #EBEEF2;
    --border-200: #E3E5E8;
    --border-300: #C6C8CC;
    --background: #F1F3F7;
    --surface: #FFFFFF;

    --accent: #2D99FF;
    --accent-dark: #2682D9;
    --green: #31D482;
    --dark-green: #24B26B;
    --red: #FF6640;
    --dark-red: #E94D3F;
    --orange: #FF9640;
    --accent-opacity: #1a8dff1a;
    --accent-opacity-higher: rgba(26, 142, 255, 0.17);
    --green-opacity: #55d46a1a;
    --red-opacity: #ff66401a;
    --border-radius: 1rem;
    --button-font-size: 1rem;
}

body, html {
    font-family: var(--font-main);
    font-size: 1rem;
    font-weight: var(--font-regular);
}

.wrapper {
    width: 100svw;
    height: 100svh;
    background-color: var(--bg-wrapper);
}

.container {
    width: 1440px;
    height: 100%;
    background-color: var(--background);
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar content";
}

.signin-container {
    width: 100svw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.topbar {
    grid-area: header;
    width: 100%;
    height: 80px;
    padding: 1.5rem;
    border-bottom: 1px solid var(--border-200);
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.sidebar {
    grid-area: sidebar;
    width: 270px;
    height: 100%;
    padding: 1.5rem 1.5rem;
    border-right: 1px solid var(--border-200);    
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-container {
    grid-area: content;
    width: 100%;
    height: calc(100svh - 80px);
    padding: 1.5rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
}

.top {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: .9rem 2rem;
    background-color: var(--accent);
    color: var(--color-primary-btn);
    font-size: 1rem;
    font-weight: var(--font-medium);
    font-family: var(--font-main);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 0;
    border-radius: .7rem;
    cursor: pointer;
    transition: background-color .2s ease-in-out;

    &:hover {
        background-color: var(--accent-dark);
    }
}
.btn.span {
    padding: 0;
}

.search-form {
    width: 100%;
    
    & .search-input {
        width: 100%;
        padding: .7rem;
        border: 0;
        background-color: transparent;
        background-image: url('/images/Icons/Search.svg');
        background-repeat: no-repeat;
        background-position: 10px center;
        padding-left: 2.5rem;
        border-radius: .7rem;

        &:focus {
            outline: 1px solid var(--border-200);
            background-color: var(--grey-100);
        }
    }
}

.user-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;

    .stroke {
        font-size: 2.3rem;
        font-weight: 200;
        color: var(--border-200);
    }
}

.profile-small {
    width: 40px;
    aspect-ratio: 1;
}

.logo {
    width: auto;
    padding: .5rem 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    margin-bottom: 1.3rem;

    &:focus-visible {
        outline: 1px solid var(--border-300);
        border-radius: var(--border-radius);
    }
}

.link {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: .3rem;
    cursor: pointer;
    color: var(--color-heading);
    border-radius: var(--border-radius);
    transition: background-color .25s ease-in-out;

    &:hover, &:focus-visible {
        background-color: var(--accent-opacity-higher);
        outline: none;
    }

}
.link.active {
    background-color: var(--accent-opacity);
    color: var(--accent);
}

a {
    text-decoration: none;
    color: var(--color-heading);
}

h1 {
    color: var(--color-heading);
    font-size: 2.3rem;
    font-weight: var(--font-bold);
}

h2 {
    color: var(--color-heading);
    font-size: 2rem;
    font-weight: var(--font-bold);
}

h3 {
    color: var(--color-heading);
    font-size: 1.8rem;
    font-weight: var(--font-bold);
}

h4 {
    color: var(--color-heading);
    font-size: 1.2rem;
    font-weight: var(--font-semibold);
}

h6 {
    color: var(--color-heading);
    font-size: 1.1rem;
    font-weight: var(--font-semibold);
}

.logo-text {
    font-family: var(--font-logo);
    font-size: 1.5rem;
    font-weight: var(--font-bold);
    color: var(--font-heading-color);
}

.project-menu-text {
    color: var(--color-list-menu);
    font-size: 1rem;
    font-weight: var(--font-bold);

    &:active {
        color: var(--accent);
    }
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}