@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-wrapper: #b0b2b7;
    --font-main: "nunito", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-logo: "Comfortaa", "nunito", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --color-heading: #1A1926;
    --color-content: #28263B;
    --color-list-menu: #637085;
    --color-primary-btn: #FFFFFF;
    --color-message-btn: #F5F7FA;
    --body-light: #637085;
    --body-dark: #28263B;
    --grey-100: #F5F7FA;
    --grey-200: #F0F1F5;
    --grey-300: #E8EAED;
    --grey-400: #E3E5E8;
    --grey-500: #6f6f6f;
    --border-100: #EBEEF2;
    --border-200: #E3E5E8;
    --border-300: #C6C8CC;
    --background: #F1F3F7;
    --surface: #FFFFFF;
    --accent: #2D99FF;
    --accent-dark: #2682D9;
    --green: #31D482;
    --dark-green: #24B26B;
    --red: #FF6640;
    --dark-red: #E94D3F;
    --orange: #FF9640;
    --accent-opacity: #1a8dff1a;
    --accent-opacity-higher: rgba(26, 142, 255, 0.17);
    --green-opacity: #55d46a1a;
    --red-opacity: #ff66401a;
    
    --shadow: rgba(111, 111, 119, 0.25); 
    --border-radius: 1rem;
    --button-font-size: 1rem;
}


::-webkit-scrollbar {
    width: 13px; 
    border-radius: 0 10px 10px 0; 
}

::-webkit-scrollbar-track {
    background: var(--surface);
    border-radius: 0 10px 10px 0;
    margin-block: .3rem;
}

::-webkit-scrollbar-thumb {
    background: var(--border-300);
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background: var(--body-light);
}

body, html {
    font-family: var(--font-main);
    font-size: 1rem;
    font-weight: var(--font-regular);
    height: 100%;
    overflow-y: scroll;
}

.wrapper {
    min-width: 1440px;
    width: 100vw;
    height: auto;
    background-color: var(--bg-wrapper);
    overflow-x: hidden;
}

.container {
    width: 1440px;
    min-height: 100svh;
    height: auto;
    background-color: var(--background);
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar content";
}

.center-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.topbar {
    position: sticky;
    grid-area: header;
    width: 100%;
    height: 80px;
    padding: 1.5rem;
    border-bottom: 1px solid var(--border-200);
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.sidebar {
    position: sticky;
    grid-area: sidebar;
    width: 270px;
    height: 100%;
    padding: 1.5rem 1.5rem;
    border-right: 1px solid var(--border-200);    
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-container {
    grid-area: content;
    width: 100%;
    min-height: calc(100svh - 160px);
    height: auto;
    padding: 1.5rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: .7rem;
    overflow-y: auto;
}

.top {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: .9rem 2rem;
    background-color: var(--accent);
    color: var(--color-primary-btn);
    font-size: 1rem;
    font-weight: var(--font-medium);
    font-family: var(--font-main);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 0;
    border-radius: .7rem;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}
    .btn:hover {
        background-color: var(--accent-dark);
    }
    .btn.span {
        padding: 0;
    }

.search-form {
    width: 100%;
}
    .search-form .search-input {
        width: 100%;
        padding: .7rem;
        border: 0;
        background-color: transparent;
        background-image: url('/images/Icons/Search.svg');
        background-repeat: no-repeat;
        background-position: 10px center;
        padding-left: 2.5rem;
        border-radius: .7rem;
    }

    .search-form:focus {
        outline: 1px solid var(--border-200);
        background-color: var(--grey-100);
    }

.user-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}
    .user-menu .stroke {
        font-size: 2.3rem;
        font-weight: 200;
        color: var(--border-200);
    }

.profile-small {
    width: 40px;
    aspect-ratio: 1;
    cursor: pointer;c
}

.logo {
    width: auto;
    padding: .5rem 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    margin-bottom: 1.3rem;
}
    .logo:focus-visible {
        outline: 1px solid var(--border-300);
        border-radius: var(--border-radius);
    }

.link {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: .3rem;
    cursor: pointer;
    color: var(--color-heading);
    border-radius: var(--border-radius);
    transition: background-color .25s ease-in-out;
}
    .link:hover, .link:focus-visible {
        background-color: var(--accent-opacity-higher);
        outline: none;
    }
    .link.active {
        background-color: var(--accent-opacity);
        color: var(--accent);
    }

a {
    text-decoration: none;
    color: var(--color-heading);
}

h1 {
    color: var(--color-heading);
    font-size: 36px;
    font-weight: var(--font-bold);
}

h2 {
    color: var(--color-heading);
    font-size: 32px;
    font-weight: var(--font-bold);
}

h3 {
    color: var(--color-heading);
    font-size: 28px;
    font-weight: var(--font-bold);
}

h4 {
    color: var(--color-heading);
    font-size: 24px;
    font-weight: var(--font-semibold);
}

h6 {
    color: var(--color-heading);
    font-size: 18px;
    font-weight: var(--font-semibold);
}

.logo-text {
    font-family: var(--font-logo);
    font-size: 26px;
    font-weight: var(--font-bold);
    color: var(--font-heading-color);
}

.project-menu-text {
    color: var(--color-list-menu);
    font-size: 16px;
    font-weight: var(--font-bold);
}
    .project-menu-text:active {
        color: var(--accent);
    }


/* DropDown */
.dropdown-container {
    position: relative;
    display: inline-block;
    align-self: flex-end;
}

.dropdown-content {    
    min-width: 230px;
    position: absolute;
    display: none;
    flex-direction: column;
    gap: .3rem;
    padding: .7rem;
    border-radius: 1rem;
    right: 0;
    z-index: 1;
    background-color: var(--surface);
    box-shadow: 0 8px 20px var(--shadow);
}

    .dropdown-content.show {
        display: flex;
    }
    
    .dropdown-content > hr {
        border: 1px solid var(--border-100);
    }

    .menu-option {
        padding: 1rem;
        color: var(--body-dark);
        border-radius: 1rem;
        cursor: pointer;
    }

    .menu-option:hover {
        background-color: var(--grey-100);
    }

    .option-edit {
        width: 100%;
        font-size: 1rem;
        color: var(--body-dark);
        border: none;
        background-color: transparent;
        display: flex;
        justify-content: flex-start;
    }

    .option-edit::before {
        content: "\f303";
        font-family: FontAweSome;
        margin-right: .5rem;
    }

    .dropdown-form {
        width: 100%;
        place-items: flex-start;
    }

    .option-delete {
        width: 100%;
        font-size: 1rem;
        color: var(--red);
        border: none;
        background-color: transparent;
        display: flex;
        justify-content: flex-start;
    }

    .option-delete::before {
        content: "\f1f8";
        font-family: FontAweSome;
        margin-right: .5rem;
    }

    .options {
        cursor: pointer;
    }

    .options:hover {
        background-color: var(--grey-100);
    }

    .user {
        display: flex;
        gap: 1rem;
        padding: .7rem 1rem;
        min-width: 250px;
        transition: all .2s ease-in-out;
    }

    .user:hover, 
    .sign-out:hover {
        background-color: var(--grey-200);
        border-radius: 14px;
    }

    .dropdown-container .profile-small {
        width: 44px;
        border-radius: 50%;
    }

    .user .profile-small {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .name {
        color: var(--color-heading);
        font-weight: var(--font-semibold);
    }

    .sign-out {
        border: none;
        background-color: transparent;
        display: flex;
        border-radius: 10px;
        gap: .5rem;
        color: var(--color-heading);
        font-weight: var(--font-regular);
        padding: 1rem 1.3rem;
        transition: all .2s ease-in-out;
        font-size: var(--button-font-size);
    }

    .sign-out::before {
        content: "\f08b";
        font-family: FontAweSome;
        margin-right: .5rem;
        color: var(--grey-500);
    }


/* Search field */

.search-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: .3rem;
    flex-wrap: wrap;
    width: 100%;
    padding: .4rem;
    border: 2px solid var(--grey-200);
    border-radius: .7rem;
    font-size: .8rem;
    margin-top: .2rem;
    position: relative;
}

    .search-results {
        display: none;
        width: auto;
        max-height: 180px;
        overflow-y: auto;
        flex-direction: column;
        border: 2px solid var(--grey-200);
        border-top: none;
        padding: .7rem;
        margin: 0;
        gap: .3rem;
        border-radius: 0 0 14px 14px;
        position: absolute;
        top: 44px;
        left: 7px;
        z-index: 5;
        background-color: var(--surface);
    }

    .search-button {
        position: absolute;
        top: 7px;
        right: .4rem;
        border: none;
        padding: .2rem;
        background-color: transparent;
        cursor: pointer;
    }

    .btn-delete-search {
        cursor: pointer;
        color: var(--body-light);
        margin-left: .7rem;
    }

        .btn-delete-search:hover {
            color: var(--grey-500);
        }


    .search-item {
        border-radius: 8px;
        padding: .5rem;
        display: flex;
        align-items: center;
    }

    .search-item.active,
    .search-item:hover {
        background-color: var(--accent-opacity-higher);
        transition: all, .25s ease-in-out;
    }

    .member, .member-edit {
        width: auto;
        display: flex;
        align-items: center;
        gap: .5rem;
        background-color: var(--grey-200);
        border-radius: 8px;
        padding: .3rem .6rem;
        font-size: .8rem;
    }

    .members-search-input {
        border-radius: 7px;
        padding: .5rem;
        outline: none;
        border: none;
        flex-grow: 1;
    }

    .tag-info {
        display: flex;
        flex-direction: column;
    }

    .email {
        color: var(--grey-500);
    }
    .search-results .profile-img {
        width: 32px;
        align-self: flex-start
    }