<div class="content">
    <div class="card">
        <div class="project-head">
            <img src="/images/Projects/Img_proj_1.svg" alt="Project image." />
            <div class="title-group">
                <h6>Website Redesign</h6>
                <p class="customer">GitLab Inc.</p>
            </div>
            <img class="options" src="/images/Icons/Dots.svg" alt="An image of three dots.">
        </div>
        <div class="description">
            It is necessary to develop a website redesign in a corporate style.
        </div>
        <div class="extras">
            <span class="status">1 week left</span>
            <div class="profile-group">
                <img class="profile-img" src="/images/Profiles/Img_profile_1.svg" />
                <img class="profile-img" src="/images/Profiles/Img_profile_2.svg" />
            </div>
        </div>
    </div>
    <div class="card">
        <div class="project-head">
            <img src="/images/Projects/Img_proj_1.svg" alt="Project image." />
            <div class="title-group">
                <h6>Website Redesign</h6>
                <p class="customer">GitLab Inc.</p>
            </div>
            <img class="options" src="/images/Icons/Dots.svg" alt="An image of three dots.">
        </div>
        <div class="description">
            It is necessary to develop a website redesign in a corporate style.
        </div>
        <div class="extras">
            <span class="status">1 week left</span>
            <div class="profile-group">
                <img class="profile-img" src="/images/Profiles/Img_profile_1.svg" />
                <img class="profile-img" src="/images/Profiles/Img_profile_2.svg" />
            </div>
        </div>
    </div>
    <div class="card">
        <div class="project-head">
            <img src="/images/Projects/Img_proj_1.svg" alt="Project image." />
            <div class="title-group">
                <h6>Website Redesign</h6>
                <p class="customer">GitLab Inc.</p>
            </div>
            <img class="options" src="/images/Icons/Dots.svg" alt="An image of three dots.">
        </div>
        <div class="description">
            It is necessary to develop a website redesign in a corporate style.
        </div>
        <div class="extras">
            <span class="status">1 week left</span>
            <div class="profile-group">
                <img class="profile-img" src="/images/Profiles/Img_profile_1.svg" />
                <img class="profile-img" src="/images/Profiles/Img_profile_2.svg" />
            </div>
        </div>
    </div>
    <div class="card">
        <div class="project-head">
            <img src="/images/Projects/Img_proj_1.svg" alt="Project image." />
            <div class="title-group">
                <h6>Website Redesign</h6>
                <p class="customer">GitLab Inc.</p>
            </div>
            <img class="options" src="/images/Icons/Dots.svg" alt="An image of three dots.">
        </div>
        <div class="description">
            It is necessary to develop a website redesign in a corporate style.
        </div>
        <div class="extras">
            <span class="status">1 week left</span>
            <div class="profile-group">
                <img class="profile-img" src="/images/Profiles/Img_profile_1.svg" />
                <img class="profile-img" src="/images/Profiles/Img_profile_2.svg" />
            </div>
        </div>
    </div>
    <div class="card">
        <div class="project-head">
            <img src="/images/Projects/Img_proj_1.svg" alt="Project image." />
            <div class="title-group">
                <h6>Website Redesign</h6>
                <p class="customer">GitLab Inc.</p>
            </div>
            <img class="options" src="/images/Icons/Dots.svg" alt="An image of three dots.">
        </div>
        <div class="description">
            It is necessary to develop a website redesign in a corporate style.
        </div>
        <div class="extras">
            <span class="status">1 week left</span>
            <div class="profile-group">
                <img class="profile-img" src="/images/Profiles/Img_profile_1.svg" />
                <img class="profile-img" src="/images/Profiles/Img_profile_2.svg" />
            </div>
        </div>
    </div>
    <div class="card">
        <div class="project-head">
            <img src="/images/Projects/Img_proj_1.svg" alt="Project image." />
            <div class="title-group">
                <h6>Website Redesign</h6>
                <p class="customer">GitLab Inc.</p>
            </div>
            <img class="options" src="/images/Icons/Dots.svg" alt="An image of three dots.">
        </div>
        <div class="description">
            It is necessary to develop a website redesign in a corporate style.
        </div>
        <div class="extras">
            <span class="status">1 week left</span>
            <div class="profile-group">
                <img class="profile-img" src="/images/Profiles/Img_profile_1.svg" />
                <img class="profile-img" src="/images/Profiles/Img_profile_2.svg" />
            </div>
        </div>
    </div>
    <div class="card">
        <div class="project-head">
            <img src="/images/Projects/Img_proj_1.svg" alt="Project image." />
            <div class="title-group">
                <h6>Website Redesign</h6>
                <p class="customer">GitLab Inc.</p>
            </div>
            <img class="options" src="/images/Icons/Dots.svg" alt="An image of three dots.">
        </div>
        <div class="description">
            It is necessary to develop a website redesign in a corporate style.
        </div>
        <div class="extras">
            <span class="status">1 week left</span>
            <div class="profile-group">
                <img class="profile-img" src="/images/Profiles/Img_profile_1.svg" />
                <img class="profile-img" src="/images/Profiles/Img_profile_2.svg" />
            </div>
        </div>
    </div>
    <div class="card">
        <div class="project-head">
            <img src="/images/Projects/Img_proj_1.svg" alt="Project image." />
            <div class="title-group">
                <h6>Website Redesign</h6>
                <p class="customer">GitLab Inc.</p>
            </div>
            <img class="options" src="/images/Icons/Dots.svg" alt="An image of three dots.">
        </div>
        <div class="description">
            It is necessary to develop a website redesign in a corporate style.
        </div>
        <div class="extras">
            <span class="status">1 week left</span>
            <div class="profile-group">
                <img class="profile-img" src="/images/Profiles/Img_profile_1.svg" />
                <img class="profile-img" src="/images/Profiles/Img_profile_2.svg" />
            </div>
        </div>
    </div>
    <div class="card">
        <div class="project-head">
            <img src="/images/Projects/Img_proj_1.svg" alt="Project image." />
            <div class="title-group">
                <h6>Website Redesign</h6>
                <p class="customer">GitLab Inc.</p>
            </div>
            <img class="options" src="/images/Icons/Dots.svg" alt="An image of three dots.">
        </div>
        <div class="description">
            It is necessary to develop a website redesign in a corporate style.
        </div>
        <div class="extras">
            <span class="status">1 week left</span>
            <div class="profile-group">
                <img class="profile-img" src="/images/Profiles/Img_profile_1.svg" />
                <img class="profile-img" src="/images/Profiles/Img_profile_2.svg" />
            </div>
        </div>
    </div>
</div>