@{
    ViewData["Css"] = "~/css/home.css";
}

<div class="filter-bar">
    <span class="alternative active">ALL [8]</span>
    <span class="alternative">STARTED [8]</span>
    <span class="alternative">COMPLETED [0]</span>
</div>
<hr />
<div class="content">
    @await Html.PartialAsync("Partials/_ProjectCard")
    @await Html.PartialAsync("Partials/_ProjectCard")
    @await Html.PartialAsync("Partials/_ProjectCard")
    @await Html.PartialAsync("Partials/_ProjectCard")
    @await Html.PartialAsync("Partials/_ProjectCard")
    @await Html.PartialAsync("Partials/_ProjectCard")
    @await Html.PartialAsync("Partials/_ProjectCard")
</div>
