@{
}

<div class="modal" id="addProjectModal">
    <div class="add-container">
        <div class="top">
            <h3>Add Project</h3>
            <button type="button" class="exit" data-close="true">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="picture">
            <img class="image" src="/images/Projects/Img_proj_1.svg" />
        </div>

        <form class="form">
            <div class="form-inputs-container">

                <div class="input-container">
                    <label class="label" for="projectName">Project Name</label>
                    <input type="text" class="input" id="projectName" placeholder="Project name">
                </div>
                <div class="input-container">
                    <label class="label" for="clientName">Client Name</label>
                    <input type="text" class="input" id="clientName" placeholder="Client name">
                </div>
                <div class="input-container">
                    <label class="label" for="description">Description</label>
                    <textarea type="text" class="input text-area" id="description" placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                    <div class="start">
                        <label class="label" for="start-date">Start Date</label>
                        <input type="date" class="input" id="start-date">
                    </div>
                    <div class="end">
                        <label class="label" for="end-date">End Date</label>
                        <input type="date" class="input" id="end-date">
                    </div>
                </div>
                <div class="input-container">
                    <label class="label" for="members">Members</label>
                    <input type="text" class="input form-search" id="members" placeholder="Choose members">
                </div>
                <div class="input-container">
                    <label class="label" for="budget">Budget</label>
                    <input type="text" class="input budget" id="budget" placeholder="0">
                </div>
            </div>
            <button type="submit" class="btn">
                Create
            </button>
        </form>
    </div>
</div>