@model CreateMemberFormModel

@{
}
<div class="modal" id="addMemberModal">
    <div class="add-container">
        <div class="top">
            <h3>Add Member</h3>
            <button type="button" class="exit" data-close="true">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>

        <form class="form" method="post" asp-action="AddMember" asp-controller="Admin" enctype="multipart/form-data">
            <div class="image-preview-container">
                <div class="camera">
                    <i class="fa-solid fa-camera"></i>
                </div>

                <img class="image-preview" src="#" />
            </div>

            <div class="form-group">
                <label asp-for="ProfileImage"></label>
                <input asp-for="ProfileImage" accept="image/*" />
                <span asp-validation-for="ProfileImage"></span>
            </div>

            <div class="form-group-name">
                <label class="label first-label" asp-for="FirstName"></label>
                <input type="text" class="input first-input" asp-for=FirstName>
                <span asp-validation-for="FirstName"></span>
                
                <label class="label last-label" asp-for="LastName"></label>
                <input type="text" class="input last-input" asp-for=LastName>
                <span asp-validation-for="LastName"></span>
            </div>

            <div class="form-group">
                <label class="label details-label" asp-for="Email"></label>
                <input type="email" class="input" asp-for="Email">
                <span asp-validation-for="Email"></span>
            </div>

            <div class="form-group">
                <label class="label details-label" asp-for="Phone"></label>
                <input type="text" class="input" asp-for=Phone>
                <span asp-validation-for="Phone"></span>
            </div>

            <div class="form-group">
                <label class="label details-label" asp-for="Role"></label>
                <input type="text" class="input" asp-for=Role>
                <span asp-validation-for="Role"></span>
            </div>

            <div class="form-group">
                <label class="label street-label" asp-for="StreetAddress"></label>
                <input type="text" class="input street" asp-for=StreetAddress>
                <span asp-validation-for="StreetAddress"></span>
            </div>

            <div class="form-group-address">
                <label class="label postal-label" asp-for="PostalCode"></label>
                <input class="input postal-code" asp-for=PostalCode>
                <span asp-validation-for="PostalCode" class="postal-span"></span>
                
                <label class="label city-label" asp-for="City"></label>
                <input type="text" class="input city" asp-for=City>
                <span asp-validation-for="City" class="city-span"></span>

            </div>
            <div class="form-group-birth">
                <label class="label birth-label" asp-for="DateOfBirth"></label>
                <input type="text" class="input day" id="day" placeholder="Day">
                <input type="text" class="input month" id="month" placeholder="Month">
                <input type="text" class="input year" id="year" placeholder="Year">
                <span asp-validation-for="DateOfBirth" class="birth-span"></span>
            </div>
            <button type="submit" class="btn">
                Add Member
            </button>
        </form>
    </div>
</div>