@{
    ViewData["Css"] = "~/css/home.css";
}

<div class="topbar">
    <form class="search-form" action="" method="">
        <input class="search-input" name="query" type="text" placeholder="Search..." />
    </form>
    <div class="user-menu">
        <img src="/images/Icons/Notification_inactive.svg" class="notification" />
        <img src="/images/Icons/Settings.svg" class="settings" />
        <div class="stroke">|</div>
        <img src="/images/Profiles/Img_profile_1.svg" class="profile-small" />
    </div>
</div>
