@{
    ViewData["Css"] = "~/css/admin.css"; 
}

<div class="card">
    <img class="options" src="/images/Icons/Dots.svg" alt="An image of three dots.">
    <img class="profile" src="/images/Profiles/Img_profile_1.svg" alt="A profile picture.">
    <h4>Hans Mattin-Lassei</h4>
    <p class="role">CEO</p>
    <p class="email">hans@domain.com</p>
    <p class="phone">+46 070-123 45 78</p>
    <div class="btn message">Message</div>
</div>
