@{
    ViewData["Css"] = "~/css/home.css";
}

<div class="top">
    <h2>@ViewData["Header"]</h2>
    <button class="btn">
        <i class="fa-solid fa-plus"></i>
        <span>Add Project</span>
    </button>
</div>