<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Alpha</title>
    <script type="importmap"></script>
    <script src="~/js/search.js" asp-append-version="true"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @if (ViewData["Css"] != null || ViewData["Css2"] != null) {
        <link href="@ViewData["Css"]" rel="stylesheet" asp-append-version="true" />
        <link href="@ViewData["Css2"]" rel="stylesheet" asp-append-version="true" />
    }
</head>
<body>

    <div class="wrapper">
        <div class="container">            
            <header>
                @await Component.InvokeAsync("Header")
            </header>

            <aside class="sidebar">
                @await Html.PartialAsync("Partials/_SideBar")
            </aside>
            
            <main>
                <div class="main-container">
                    @RenderBody()   
                </div>
            </main>        
        </div>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
