@{
    Layout = "_SigninLayout";
    ViewData["Css"] = "~/css/projectForms.css";
}
<div class="modal">
    <div class="add-container">
        <div class="top">
            <h3>Add Member</h3>
            <button class="exit">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="picture">
            <img class="image" src="/images/Profiles/Img_profile_4.svg" />
        </div>

        <form class="form">
            <div class="form-group-name">
                <label class="label first-label" for="firstName">First Name</label>
                <input type="text" class="input first-input" id="firstName" placeholder="First name">
                
                <label class="label last-label" for="lastName">Last Name</label>
                <input type="text" class="input last-input" id="lastName" placeholder="Last name">
            </div>
            <div class="form-group-details">     
                <label class="label details-label" for="email">Email</label>
                <input type="email" class="input" id="email" placeholder="Your email address">
        
                <label class="label details-label" for="phone">Phone</label>
                <input type="text" class="input" id="phone" placeholder="Your phone number">
            
                <label class="label details-label" for="title">Job Title</label>
                <input type="text" class="input" id="title" placeholder="Your job title">
            </div>
            <div class="form-group-address">
                <label class="label street-label" for="street">Street Address</label>
                <input type="text" class="input street" id="street" placeholder="Your street address">
                
                <label class="label postal-label" for="postalCode">PostalCode</label>
                <input type="text" class="input postal-code" id="postalCode" placeholder="Your postal code">
                
                <label class="label city-label" for="city">City</label>
                <input type="text" class="input city" id="city" placeholder="Your city">

            </div>
            <div class="form-group-birth">
                <label class="label birth-label" for="day month year">Date Of Birth</label>
                <input type="text" class="input day" id="day" placeholder="Day">
                <input type="text" class="input month" id="month" placeholder="Month">
                <input type="text" class="input year" id="year" placeholder="Year">
            </div>
            <div class="form-group">
                <button type="submit" class="btn">
                    Add Member
                </button>
            </div>
        </form>
    </div>
</div>