@{
    Layout = "_SigninLayout";
}

<div class="container">
    <h1 class="title">Log In</h1>
    
    @await Html.PartialAsync("Components/_GoogleButton")

    <div class="alternative">
        <div class="line"></div>
        <span class="or">OR</span>
        <div class="line"></div>
    </div>

    <form class="login-form">
        <div class="form-group">
            <label class="label" for="email">Email</label>
            <input class="input" type="text" name="email" id="email" value="" placeholder="Your email address" />
        </div>
        <div class="form-group">
            <label for="password" class="label">Password</label>
            <input class="input" type="password" name="password" id="password" value="" placeholder="Enter your password" />
        </div>
        <div class="form-group-check">
            
            @await Html.PartialAsync("Components/_Checkbox")
            <p>Remember me</p>
            <a href="#" class="forgot">Forgot password?</a>
        </div>
        <button type="submit" class="btn" asp-controller="Home" asp-action="Index">
            <span>Log In</span>
        </button>
    </form>

    <div class="group-signup">
        <p>Don't have an account?</p>
        <a href="#" class="sign-up">Sign Up</a>
    </div>
</div>


