.top[b-hps0zpu97j] {
    height: 80px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
}

.content[b-hps0zpu97j] {
    flex-grow: 1;
    height: calc(100svh - 160px);
    display: flex;
    gap: 2rem;
    padding: 2rem 4rem;
    flex-wrap: wrap;
    overflow-y: auto;
    scroll-behavior: smooth;

}
.card[b-hps0zpu97j] {
    width: 300px;
    height: 460px;
    background-color: var(--surface);
    border-radius: var(--border-radius);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    box-shadow: 0 20px 15px var(--grey-300);

    .options {
        width: 26px;
        aspect-ratio: 1;
        place-self: flex-end;
    }

    .profile[b-hps0zpu97j] {
        width: 150px;
        aspect-ratio: 1;
    }

    .role[b-hps0zpu97j] {
        font-size: .8rem;
        width: auto;
        padding: .7rem 1.5rem;
        background-color: var(--grey-200);
        border-radius: var(--border-radius);
        margin-bottom: 1rem;
    }

    .email[b-hps0zpu97j], .phone[b-hps0zpu97j] {
        font-size: 1rem;
    }

    .message[b-hps0zpu97j] {
        width: 100%;
        font-size: var(--button-font-size);
        font-weight: var(--button-font-weight);
        padding-block: .7rem;
        color: var(--heading);
        background-color: var(--grey-100);
        border-radius: var(--border-radius);
        margin-top: 1rem;
        text-align: center;
    }
}
